<web-app>
<display-name>Archetype Created Web Application</display-name>

<welcome-file-list>
  <welcome-file>loginServ</welcome-file>
</welcome-file-list>

<error-page>
  <error-code>404</error-code>
  <location>/pages/notfound.jsp</location>
</error-page>

  <servlet>
    <servlet-name>loginServ</servlet-name>
    <jsp-file>/pages/login.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginServ</servlet-name>
    <url-pattern>/loginServ</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>chatServ</servlet-name>
    <jsp-file>/pages/chat.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>chatServ</servlet-name>
    <url-pattern>/chatServ</url-pattern>
  </servlet-mapping>

</web-app>



